includes:
    - phpstan-baseline.neon
    - vendor/phunkie/phpstan/extension.neon

parameters:
    level: 0
    paths:
        - src
    ignoreErrors:
        - '#Template type \w+ of (function|method) .+ is not referenced in a parameter#'
