parameters:
	ignoreErrors:
		-
			message: '#^Undefined variable\: \$a$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Cats/Free.php

		-
			message: '#^Undefined variable\: \$f$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Cats/Free.php

		-
			message: '#^Undefined variable\: \$fa$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Cats/Free.php

		-
			message: '#^Undefined variable\: \$target$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Cats/Free.php

		-
			message: '#^Undefined variable\: \$a$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Functions/validation.php

		-
			message: '#^Undefined variable\: \$e$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Types/ImmList.php

		-
			message: '#^Undefined variable\: \$x$#'
			identifier: variable.undefined
			count: 2
			path: src/Phunkie/Types/ImmList.php

		-
			message: '#^Undefined variable\: \$a$#'
			identifier: variable.undefined
			count: 3
			path: src/Phunkie/Validation/Validation.php

		-
			message: '#^Undefined variable\: \$b$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Validation/Validation.php

		-
			message: '#^Undefined variable\: \$e$#'
			identifier: variable.undefined
			count: 1
			path: src/Phunkie/Validation/Validation.php
